// media queries
$mobile: "(max-width: 600px)";
$tablet: "(min-width:601px) and (max-width:1023px)";
$desktop: "(min-width:1024px)";

$darkgreen: #014040;
$midgreen: #02735E;
$lightgreen: #03A678;
$orange: #F27405;
$red: #731702;
